html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #B3E8E5;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* navbar */
.navbar-brand {
    padding: 1rem;
}

.navbar {
    background-color: #2F8F9D;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-color: none;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: #2F8F9D;
}

/* home */
#home {
    padding-top: 7rem;
    display: flex;
    flex: nowrap;
}


#coluna_esquerda_home,
#coluna_direita_home {
    min-width: 36rem;
    box-sizing: border-box;
    margin: 0 0.5rem;
}

#coluna_esquerda_home {
    width: 40%;
}

#coluna_direita_home {
    width: 60%;
}

#img_home {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin: 2rem auto;
    display: block;
}

#texto_coluna_esquerda_home,
#texto_coluna_direita_home {
    background-color: white;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: 3rem;
    font-size: 1.7rem;
}

#texto_coluna_direita_home {
    margin-top: 3rem;
}

.subtitulos_home {
    font-size: 2.5rem;
}

p {
    color: black;
}

/* Home mobile */

@media (max-width: 900px) {
    #home {
        flex-direction: column;
    }

    #coluna_esquerda_home,
    #coluna_direita_home {
        width: 90%;
        margin: 0 auto;
    }
}