/* portifólio */
#portifolio {
    padding-bottom: 4rem;
    background-image: url(../img/fundo.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

/* título da página */
.caixa_titulo_da_pagina {
    padding: 30px 50px;
}

.titulo_da_pagina {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    margin: 2rem;
}

/* projetos */
.col-md-3 {
    margin: 1.2rem;
}

.caixa_projeto {
    height: 35rem;
    padding: 1rem;
    border: 0.5rem solid black;
    background-color: white;
}

.titulo_projeto {
    color: black;
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
}

/* rodapé */

#texto_rodape {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
}